<aside>
  <div class="items">
    <a href="/admin/dashboard" class="sidebar-item">Home</a>
    <a href="/admin/accounts" class="sidebar-item">Users</a>
    <a href="/admin/categories" class="sidebar-item">Categories</a>
    <a href="/admin/products" class="sidebar-item">Products</a>
  </div>
</aside>
