<nav class="admin_nav_banner">
  <a href="/admin/dashboard" class="logo"> Dashboard </a>
  <div class="middle">
    <form class="search">
      <input type="search" placeholder="Search" />
      <button type="button">Search</button>
    </form>
  </div>
</nav>
