<nav class="user-banner">
  <div class="banner-container">
    <a href="/" class="logo">SNEAKER STREET</a>
    <div class="search">
      <form action="/search">
        <input type="text" name="q" placeholder="Search" />
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="items">
      <a href="#">Cart</a>
      <a href="#">Wishlists</a>
    </div>
  </div>
</nav>